/*Font color*/
$heading_font_color: $color-bg;
$body_font_color: $color-bg;
$body_hover_font_color: $color-gray;


/*Link color*/
$link_font_color: $color-bg;
$link_hover_font_color: $color-gray;

$strong-color: $color-gray;

/*Socials icon color*/
$socials-color: $color-bg;
$socials-hover-color: darken($socials-color,10%);

/*Section bg color*/
$section_bg_color: $color-secondary;

/*Button primary variable*/
$button_bkgd_color: $color-bg;
$button_hover_bkgd_color: $color-gray;
$button_font_color: $color-secondary;
$button_hover_font_color: $color-secondary;
$button_border_color: transparent;
$button_hover_border_color: transparent;

$button-transition: 0.3s;
$button-border-radius: 0px;

/*Button secondary variable*/
$secondary_button_bkgd_color: transparent;
$secondary_button_hover_bkgd_color: $color-bg;
$secondary_button_font_color: $color-bg;
$secondary_button_hover_font_color: $color-secondary;
$secondary_button_border_color: $color-bg;
$secondary_button_hover_border_color: $color-bg;
$secondary_button-border-radius: 0px;


/*Button tertiary variable*/
$tertiary_button_bkgd_color: transparent;
$tertiary_button_hover_bkgd_color: $color-bg;
$tertiary_button_font_color: $color-bg;
$tertiary_button_hover_font_color: $color-secondary;
$tertiary_button_border_color: $color-bg;
$tertiary_button_hover_border_color: $color-bg;
$tertiary_button-border-radius: 50px;

/*Input style*/
$input_bg_color: $color-primary;
$input_border_color: transparent;
$input_text_color: $color-bg;
$input_placeholder_color: $color-gray;


/*Box item*/
$box-border-color: $color-primary;
$box-hover-border-color: $color-primary;
$box-bg-color: $color-secondary;
$box-hover-bg-color: $color-primary;

$box-number-bg: $color-primary;

/*Line color*/
$line-color: $color-primary;

.p5theme-row-p5style5{
  @import "base";
}