/*

All variables in P5 STYLE GUIDE

*/

// Define default color
// Color
$color-primary : #FC754C;
$color-secondary : #EF653B;
// Color text
$color-dark : #5B6060;
$color-darken: #383D3E;
// Color background
$color-gray: #ECF0F1;
$color-bg: #FFFFFF;
$color-light: #FFFFFF;

